.product-container {
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 6px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-container div {
  padding: 20px;
  text-align: center;
}

.product-logo {
  width: 330px;
  margin-bottom: 15px;
  border-radius: 12px;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.rating {
  margin: 10px 0;
  display: flex;
  align-items: center;
  color: orangered;
}

.rating span {
  margin-left: 5px;
  color: orangered;
}

.add-to-cart:hover {
  background-color: orange;
}

.add-to-cart {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

.add-to-cart:hover {
  background-color: #45a049;
}

/* Responsive styling */
@media (max-width: 600px) {
  .product-container {
    width: calc(100% - 12px);
    border-radius: 0;
    box-shadow: none;
  }

  .product-container div {
    padding: 15px;
  }

  .product-logo {
    width: 100%;
    border-radius: 0;
  }

  .price,
  .rating {
    margin: 5px 0;
  }

  .add-to-cart {
    padding: 10px 15px;
    font-size: 14px;
  }
}
