/* LoginComponent.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.containering {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url("https://i.ibb.co/pjqCCSZ/black-friday-elements-assortment.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 25px;
  width: 100vw;
  border: 1px solid black;
  border-radius: 8px;
}

.ShopTittle {
  background-color: rgba(255, 255, 255, 0.068);
  height: 200px;
  margin: 20px;

  margin-bottom: 18px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  animation: fadeIn 0.8s ease-in-out;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.Error {
  color: red;
}

.login-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-input {
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@keyframes buttonAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.login-button {
  font-size: medium;
  background-color:green;
  font-family: Georgia, 'Times New Roman', Times, serif;
  animation: buttonAnimation 1s infinite; /* Adjust the duration as needed */
}

.login-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.login-error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 600px) {
  .containering{
    background-image: url("https://i.ibb.co/pLQsFdV/IMG-1683.jpg");
    padding: 0px;
    
  }
  
  .ShopTittle {
    background-color: white;
    padding: 10px;
    margin: 0px;
    
    font-size: 15px;
  }
  .login-container {
    width: 80%;
  }
  @keyframes buttonAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .login-button {
    font-size: medium;
    margin-top: 30px;
    padding: 5px;
    background-color: rgba(255, 166, 0, 0.774);
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: buttonAnimation 1s infinite; /* Adjust the duration as needed */
  }
  
  .Owner {
    height: 400px;
  }
  .Title{
    font-size: 40px;
    margin-bottom: 15px;
  }
}
